<% layout("layout/boilerplate.ejs") %>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<footer class="m-2">
  <a
    href="/campgrounds"
    class="my-2 ml-1 rounded-md border-2 border-solid border-black bg-orange-400 py-1 px-2 font-semibold hover:bg-orange-300"
    >Back to list</a
  >
</footer>
