<% layout("layout/boilerplate.ejs") %>
<h1 class="m-2 text-3xl font-bold underline">AllCampgrounds</h1>
<div class="pl-5 text-xl">
  <!-- <a href="/campgrounds/new">Add a campground</a> -->
</div>
<ul class="list-inside list-disc pl-2">
  <% for (let campground of campgrounds) { %>
  <li class="hover:text-red-500">
    <a href="/campgrounds/<%= campground._id %>"><%= campground.title %> </a>
  </li>
  <% } %>
</ul>
