@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main__container::-webkit-scrollbar {
    @apply hidden;
  }

  .page-h1 {
    @apply mt-2 mb-5 text-3xl font-normal text-pink-800 md:text-5xl;
  }

  .btn-back {
    @apply h-9 rounded-md border border-black bg-orange-400 py-1 px-2 font-semibold hover:bg-orange-300;
  }

  .btn-submit {
    @apply my-2 ml-1 h-9 rounded-md border border-white bg-blue-600 py-1 px-2 font-semibold text-white hover:border-blue-300 hover:bg-blue-100 hover:text-blue-900;
  }

  .btn-delete {
    @apply h-9 rounded-md border border-blue-600 py-1 px-2 font-semibold text-blue-600  hover:border-transparent  hover:bg-blue-600 hover:text-white;
  }

  .current-page {
    @apply bg-gray-100 text-black hover:bg-gray-200 !important;
  }

  .was-validated input,
  .was-validated textarea {
    @apply relative border-pink-600;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: transparent;
  border-bottom: 2px solid rgb(75 85 99 / 1);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent;
  box-shadow: 0 0 0px 1000px transparent;
  transition: background-color 5000s ease-in-out 0s;
}
